Task:
##### write a function to print the leapyears in given range\
(year%400==0 or (year%100!=0 and year%4==0))

- Data structures
- list
- tuple
- set
- dictionary

In [4]:
#list
li=[]
li1=list()

In [5]:
type(li1)

list

In [6]:
li=[1,"apple",23,10.0]
li

[1, 'apple', 23, 10.0]

In [7]:
li[0]

1

In [8]:
li[2]

23

In [9]:
li[-1]

10.0

In [10]:
li[1]=65
li

[1, 65, 23, 10.0]

In [11]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [12]:
li1=[23,75,['hari','harry']]
li1

[23, 75, ['hari', 'harry']]

In [13]:
li1[2]

['hari', 'harry']

In [15]:
li1[-1][1]

'harry'

In [18]:
li1.append("honey")
li1

[23, 75, ['hari', 'harry'], 'honey']

In [17]:
li1

[23, 75, ['hari', 'harry']]

In [19]:
li.count(65)

1

In [21]:
li1[2].append("Rani")
li1

[23, 75, ['hari', 'harry', 'Rani'], 'honey']

In [22]:
li.extend(li1)
print(li1)
print(li)

[23, 75, ['hari', 'harry', 'Rani'], 'honey']
[1, 65, 23, 10.0, 23, 75, ['hari', 'harry', 'Rani'], 'honey']

In [23]:
li.index(10.0)

3

In [24]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [25]:
li.insert(3,12.0)
li

[1, 65, 23, 12.0, 10.0, 23, 75, ['hari', 'harry', 'Rani'], 'honey']

In [26]:
li.pop()

'honey'

In [27]:
li

[1, 65, 23, 12.0, 10.0, 23, 75, ['hari', 'harry', 'Rani']]

In [28]:
li.remove(75)
li

[1, 65, 23, 12.0, 10.0, 23, ['hari', 'harry', 'Rani']]

In [29]:
li.reverse()

In [32]:
li2=[1,25,12,15,51,16]
li2.sort()

In [33]:
li2

[1, 12, 15, 16, 25, 51]

In [34]:
li3=li2.copy()
li3

[1, 12, 15, 16, 25, 51]

In [35]:
li3.clear()
li3

[]

In [36]:
li2.index(51)

5

In [37]:
li4=["honey","apple","popaya","banana"]
li4.sort()

In [39]:
li4.sort(reverse=True)
li4

['popaya', 'honey', 'banana', 'apple']

In [40]:
li4.remove(li4[0])

In [41]:
li4

['honey', 'banana', 'apple']

#### tuple

* camma seperated data with in the paranthesis
* immutable
* get values by indexing and interator

In [43]:
# create a tuple
t=()
t1=tuple()
type(t)

tuple

In [44]:
t1=(1,10.0,"elder",1500)
t1

(1, 10.0, 'elder', 1500)

In [45]:
t1[0]

1

In [46]:
t1[3]

1500

In [47]:
t1[-1]

1500

In [54]:
t2=("a","b","d",("5","4"))

In [57]:
t2[3][1]

'4'

In [58]:
t3=(1,3,5,["anu","renu"])

In [59]:
t3[3][1]="bhanu"
t3

(1, 3, 5, ['anu', 'bhanu'])

In [61]:
#dir(tuple)

In [62]:
t3.index(3)

1

In [63]:
t3.count(1)

1

#### sets

* camma seperated value with in curly brace is called set
* immutable and unordered data
* in set we can't get values by indexing
* can get only through iterator(for loop etc..)

In [64]:
## create set
a1={"12",12,"11",11,1,5,4,7,"Nani"}
a2=set()
type(a2)

set

In [65]:
a1

{1, 11, '11', 12, '12', 4, 5, 7, 'Nani'}

In [67]:
li5=list(a1)
t5=tuple(a1)
print(li5)
print(t5)

[1, 4, 5, 7, 'Nani', 11, 12, '11', '12']
(1, 4, 5, 7, 'Nani', 11, 12, '11', '12')

In [69]:
for i in a1:
    print(i)

1
4
5
7
Nani
11
12
11
12

In [71]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [72]:
a1.add("Lalli")
a1

{1, 11, '11', 12, '12', 4, 5, 7, 'Lalli', 'Nani'}

In [76]:
s1={1,2,3,5,6,9}
s2={6,7,8,9,5,90}
s1.difference(s2)
s1

{1, 2, 3, 5, 6, 9}

In [77]:
s1.difference_update(s2)
print(s1)

{1, 2, 3}