In [ ]:
# datascience(continution....)
#pandas:
- it is  an open source python library that produces high performance.
- load,prepare,manipulate,model,analyze
- pandas basically use for data analysis
- data cleaning
- data transformation
- data analysis
# pandas notations:
- panda Series
- panda DataFrames

In [ ]:
#for installing pandas:
-pip install pandas
# for using:
- import pandas as pd

In [ ]:
# panda Series:(similar to numpy arrays)
- series is a 1d lebeled array holds any datatype like int,float,str.
- it is collectively called as index
- #syn:
pd.Series(data,index,dtype)

In [3]:
import pandas as pd
a=pd.Series([1,2,3,4,5])
print(a)
print(type(a))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [4]:
import pandas as pd
a=pd.Series(['pavani','keerthi','kavitha','manga'])
print(a)
print(type(a))

0     pavani
1    keerthi
2    kavitha
3      manga
dtype: object
<class 'pandas.core.series.Series'>

In [6]:
import pandas as pd
a=pd.Series(['pavani','keerthi','kavitha','manga',23,45,67,67,67])
print(a)
print(type(a))

0     pavani
1    keerthi
2    kavitha
3      manga
4         23
5         45
6         67
7         67
8         67
dtype: object
<class 'pandas.core.series.Series'>

In [9]:
print(a[2])
#print(a[-1])
print(a[1:6])

kavitha
1    keerthi
2    kavitha
3      manga
4         23
5         45
dtype: object

In [10]:
print(a[::-1])

8         67
7         67
6         67
5         45
4         23
3      manga
2    kavitha
1    keerthi
0     pavani
dtype: object

In [11]:
print(a[-5:-1])

4    23
5    45
6    67
7    67
dtype: object

In [13]:
import pandas as pd
a=pd.Series([1,2,3])
print(a)

0    1
1    2
2    3
dtype: int64

In [12]:
import pandas as pd
a=pd.Series([1,2,3],index=['a','b','c'])
print(a)

a    1
b    2
c    3
dtype: int64

In [15]:
import pandas as pd
a=pd.Series([1,2,3],index=['a','b'])
print(a)

ValueError: Length of passed values is 3, index implies 2

In [16]:
import pandas as pd
a=pd.Series([1,2,3],index=['17-8-2020','18-8-2020','19-8-2020'])
print(a)

17-8-2020    1
18-8-2020    2
19-8-2020    3
dtype: int64

In [17]:
# single digit dates are not acceptable in date_range
import pandas as pd
a=pd.Series([1,2,3],index=pd.date_range('2-4-2020','4-4-2020'))
print(a)

ValueError: Length of passed values is 3, index implies 61

In [18]:
import pandas as pd
a=pd.Series([1,2,3],index=pd.date_range('17-4-2020','19-4-2020'))
print(a)

2020-04-17    1
2020-04-18    2
2020-04-19    3
Freq: D, dtype: int64

In [19]:
import pandas as pd
a=pd.Series([1,2,3],index=('2-4-2020','3-4-2020','4-4-2020'))
print(a)

2-4-2020    1
3-4-2020    2
4-4-2020    3
dtype: int64

In [20]:
import pandas as pd
pd.__version__

'0.24.2'

In [22]:
s="hello world"
pd.Series(s)

0    hello world
dtype: object

In [24]:
s=input().split()
pd.Series(s)

pavani kavitha keerthi manga

0     pavani
1    kavitha
2    keerthi
3      manga
dtype: object

In [25]:
li=[23,45,'hello','world',78.90]
pd.Series(li)

0       23
1       45
2    hello
3    world
4     78.9
dtype: object

In [26]:
t=(23,24,25,23,68,90)
pd.Series(t)

0    23
1    24
2    25
3    23
4    68
5    90
dtype: int64

In [27]:
# in panda Series set is not acceptable because of unordered
s={23,23,24,25,67,10}
pd.Series(s)

TypeError: 'set' type is unordered

In [28]:
# keys are treated as index values
d={'course':'python','org':'apssdc',23:'hello'}
pd.Series(d)

course    python
org       apssdc
23         hello
dtype: object

In [29]:
import pandas as pd
import numpy as np
a=np.arange(4,10)
pd.Series(a)

0    4
1    5
2    6
3    7
4    8
5    9
dtype: int32

In [33]:
r=np.random.randint(2,20,10)
pd.Series(r)

0     9
1    15
2    15
3     8
4    14
5     9
6     6
7    12
8    12
9    11
dtype: int32

In [ ]:
(start,end+1,step+1)

In [37]:
print(r[5])
print(r[::-1])
print(r[-2])
print(r[::2])

9
[11 12 12  6  9 14  8 15 15  9]
12
[ 9 15 14  6 12]

In [38]:
n=int(input("enter a num:"))
a={i:i**2 for i in range(1,n+1)}
pd.Series(a)

enter a num:5

1     1
2     4
3     9
4    16
5    25
dtype: int64

In [39]:
import pandas as pd
import numpy as np
a=pd.Series(np.arange(0,15)**2,index=range(0,15))
print(a)

0       0
1       1
2       4
3       9
4      16
5      25
6      36
7      49
8      64
9      81
10    100
11    121
12    144
13    169
14    196
dtype: int32

In [ ]:
# panda DataFrames:
- (default tabular format)
- 2d labeled array
- there are mostly used in dataanaylysis

In [40]:
import pandas as pd
n=input().split()
pd.DataFrame(n)

python workshop

          0
0    python
1  workshop

In [42]:
d=[['pavani','cse'],['kavitha','ece'],['keerthi','eee']]
pd.DataFrame(d)

         0    1
0   pavani  cse
1  kavitha  ece
2  keerthi  eee

In [43]:
d=[['pavani','cse'],['kavitha','ece'],['keerthi','eee']]
pd.DataFrame(d,columns=['Name','Branch'])

      Name Branch
0   pavani    cse
1  kavitha    ece
2  keerthi    eee

In [44]:
d=[['pavani','cse'],['kavitha','ece'],['keerthi','eee']]
pd.DataFrame(d,columns=['Name','Branch','age'])

AssertionError: 3 columns passed, passed data had 2 columns

In [45]:
d=[['pavani','cse'],['kavitha','ece'],['keerthi','eee']]
pd.DataFrame(d,columns=['Name','Branch'],index=['one','two','three'])

          Name Branch
one     pavani    cse
two    kavitha    ece
three  keerthi    eee

In [46]:
d=[[1,2,3],[4,5,6]]
pd.DataFrame(d,columns=['1st','2nd','3rd'])

   1st  2nd  3rd
0    1    2    3
1    4    5    6

In [49]:
d={'course':'python','org':'apssdc',23:'hello'}
pd.DataFrame(d)

ValueError: If using all scalar values, you must pass an index

In [50]:
d1={'course':'python','org':'apssdc',23:'hello'}
pd.DataFrame(d1,index=[1])

   course     org     23
1  python  apssdc  hello

In [51]:
d2={'college':'aditya','branch':'cse','hello':'everyone'}
pd.DataFrame(d2,index=[2])

  college branch     hello
2  aditya    cse  everyone

In [53]:
d1={'course':'python','org':'apssdc',23:'hello'}
d2={'college':'aditya','branch':'cse','hello':'everyone'}
pd.DataFrame(d1,d2)

         course     org     23
college  python  apssdc  hello
branch   python  apssdc  hello
hello    python  apssdc  hello

In [54]:
d3={'workshop':'python','training':'online','day':14}
pd.DataFrame(d1,d2,d3)

        workshop training  day
college      NaN      NaN  NaN
branch       NaN      NaN  NaN
hello        NaN      NaN  NaN

In [57]:
a={'python':23,'c':25,'c++':20}
a1=pd.Series(a)
b={'python':22,'c':20}
b1=pd.Series(b)
print(a1,'\n''\n',b1)

python    23
c         25
c++       20
dtype: int64

 python    22
c         20
dtype: int64

In [58]:
f={'mid1':a1,'mid2':b1}
pd.DataFrame(f)

        mid1  mid2
c         25  20.0
c++       20   NaN
python    23  22.0

In [60]:
d=pd.DataFrame({'name':['pavani','keerthi'],'age':[23,24],'branch':['cse','ece']})
d

      name  age branch
0   pavani   23    cse
1  keerthi   24    ece

In [ ]:
dataframe---->keys---->columns
series------>keys----->index

In [72]:
d1={'Name':'python','org':'apssdc','branch':'hello'}
d2={'Name':'aditya','org':'cse'}
d3={'Name':'aditya123','org':'apssdc123','branch':'everyone123'}
a=pd.DataFrame([d1,d2,d3],index=['Name','org','branch'])
b=pd.DataFrame([d1,d2,d3],columns=['Name','org','hello'])
c=pd.DataFrame([d1,d2,d3],columns=['Name','org','branch'])
a

             Name       branch        org
Name       python        hello     apssdc
org        aditya          NaN        cse
branch  aditya123  everyone123  apssdc123

In [73]:
b

        Name        org  hello
0     python     apssdc    NaN
1     aditya        cse    NaN
2  aditya123  apssdc123    NaN

In [74]:
c

        Name        org       branch
0     python     apssdc        hello
1     aditya        cse          NaN
2  aditya123  apssdc123  everyone123

In [75]:
a

             Name       branch        org
Name       python        hello     apssdc
org        aditya          NaN        cse
branch  aditya123  everyone123  apssdc123

In [76]:
a.loc['Name']

Name      python
branch     hello
org       apssdc
Name: Name, dtype: object

In [77]:
a.iloc[1]

Name      aditya
branch       NaN
org          cse
Name: org, dtype: object

In [78]:
a.T

          Name     org       branch
Name    python  aditya    aditya123
branch   hello     NaN  everyone123
org     apssdc     cse    apssdc123