In [ ]:
#functional programming(continution....)
# lambda:
- python lambda is just a function without a name or anonymous function.
# syn:
lambda argument: expression
- lambda takes 0 or more arguments,but only one expression

In [1]:
#without argument
r=lambda :2**3
r()

8

In [2]:
# with onw argument
r=lambda x:x**3
r(4)

64

In [3]:
r=lambda x,y:x**y
r(2,3)

8

In [4]:
r=lambda x,y:x**y
r([1,2,3],3)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [ ]:
- lambda is not iterable,so by using map() or filter() we make lambda as a iterable.
# map syn:
map(fun,iterable1,iterable2,.....)

In [5]:
r=map(lambda x:x**3,[1,2,3,4,5])
print(r)

<map object at 0x0000027D32B5FFD0>

In [6]:
r=map(lambda x:x**3,[1,2,3,4,5])
print(list(r))

[1, 8, 27, 64, 125]

In [7]:
even=lambda n:n%2==0
r=filter(even,range(20,40))
print(tuple(r))

(20, 22, 24, 26, 28, 30, 32, 34, 36, 38)

In [8]:
#multiple iterables
n1=[1,2,3]
n2=[4,5,6]
r=list(map(lambda x,y:(x+y),n1,n2))
print(r)

[5, 7, 9]

In [9]:
w=['sun','mon','tues','wed','thur','fri','sat']
d=filter(lambda t:t if len(t)==3 else '',w)
print(set(d))

{'wed', 'sun', 'fri', 'mon', 'sat'}

In [ ]:
lambda t:
    if len(t)==3:
        print(t)
    else:
        print('')

In [ ]:
# task 1:
n1=['albert','james','nikola']
n2=['einstein','watt','tesla']
o/p:['Albert Einstein','James Watt','Nikola Tesla']
    (using map,lambda,list)

In [ ]:
# comprehensions:
1) list comprehension
2) dictionary comprehension
3) set comprehension

In [ ]:
# list comprehension:
syn:
    [expression for item in list if condition]

In [13]:
#l=[1,2,3,4,5,6,7,8,9,10]
li=[]
for i in range(11):
    li.append(i)
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
li=[i for i in range(11)]
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
li=[i**2 for i in range(11)]
print(li)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
li=[i*5 for i in range(11)]
print(li)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [17]:
#division by 2 and 7 in range(1,100)
def divi(s,e):
    for i in range(s,e+1):
        if i%2==0 and i%7==0:
            print(i)
divi(1,100)

14
28
42
56
70
84
98

In [18]:
print([i for i in range(1,101) if i%2==0 and i%7==0])

[14, 28, 42, 56, 70, 84, 98]

In [19]:
print([i for i in range(1,101) if i%2==0])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [22]:
print([i for i in range(2,101,2)])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [23]:
print([i for i in range(1,101,2)])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [24]:
print(["even" if i%2==0 else "odd" for i in range(10)])

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [25]:
print(["even" for i in range(10) if i%2==0 else "odd"])

SyntaxError: invalid syntax (<ipython-input-25-90c71bc17e6c>, line 1)

In [29]:
print([(i,i) for i in range(10) if i%2==0])

[(0, 0), (2, 2), (4, 4), (6, 6), (8, 8)]

In [34]:
s="hello 12 3 hii4 world 56"
for i in s:
    if i.isdigit():
        print(i)

1
2
3
4
5
6

In [32]:
s="hello 12 3 hii4 world 56"
print([i for i in s if i.isdigit()])

['1', '2', '3', '4', '5', '6']

In [ ]:
range(1,100)
x**2+y**2==z**2
(3,4,5)
3**2+4**2==5**2
9+16=25
25=25

In [35]:
print([(x,y,z) for x in range(1,100) for y in range(1,100) for z in range(1,100) if x**2+y**2==z**2])

[(3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (84, 13, 85), (84, 35, 91)]

In [36]:
print([(x,y,z) for x in range(1,100) for y in range(x,100) for z in range(y,100) if x**2+y**2==z**2])

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97)]

In [38]:
for x in range(1,100):#3
    for y in range(x,100):#(3,100)
        for z in range(y,100):#(4,100)
            if x**2+y**2==z**2:
                print((x,y,z))

(3, 4, 5)
(5, 12, 13)
(6, 8, 10)
(7, 24, 25)
(8, 15, 17)
(9, 12, 15)
(9, 40, 41)
(10, 24, 26)
(11, 60, 61)
(12, 16, 20)
(12, 35, 37)
(13, 84, 85)
(14, 48, 50)
(15, 20, 25)
(15, 36, 39)
(16, 30, 34)
(16, 63, 65)
(18, 24, 30)
(18, 80, 82)
(20, 21, 29)
(20, 48, 52)
(21, 28, 35)
(21, 72, 75)
(24, 32, 40)
(24, 45, 51)
(24, 70, 74)
(25, 60, 65)
(27, 36, 45)
(28, 45, 53)
(30, 40, 50)
(30, 72, 78)
(32, 60, 68)
(33, 44, 55)
(33, 56, 65)
(35, 84, 91)
(36, 48, 60)
(36, 77, 85)
(39, 52, 65)
(39, 80, 89)
(40, 42, 58)
(40, 75, 85)
(42, 56, 70)
(45, 60, 75)
(48, 55, 73)
(48, 64, 80)
(51, 68, 85)
(54, 72, 90)
(57, 76, 95)
(60, 63, 87)
(65, 72, 97)

In [ ]:
5**2+12**2==13**2
25+144=169
169=169

In [ ]:
# dictionary comprehension
#syn:
{key:value for key in iterable}

In [39]:
d={i:i**2 for i in [1,2,3,4,5]}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [40]:
chr(65)

'A'

In [42]:
ord('A')

65

In [41]:
print({i:chr(65+i) for i in range(4)})#0,1,2,3

{0: 'A', 1: 'B', 2: 'C', 3: 'D'}

In [43]:
print({i:{j:i*j for j in range(1,6)} for i in range(2,5)})#2,3,4 #1,2,3,4,5

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10}, 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15}, 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20}}

In [45]:
d={}
for i in range(2,5):#2,3,4
    e={}
    for j in range(1,6):#1,2,3,4,5
        e[j]=i*j
    d[i]=e
print(d)

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10}, 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15}, 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20}}

In [46]:
d=['o','o','o','r','r','c']
print({i:d.count(i) for i in d})

{'o': 3, 'r': 2, 'c': 1}

In [48]:
state=['Gujrat','Maharashtra','Rajasthan']
capital=['Gandhinagar','Mumbai','Jaipur']
print({key:value for (key,value) in zip(capital,state)})

{'Gandhinagar': 'Gujrat', 'Mumbai': 'Maharashtra', 'Jaipur': 'Rajasthan'}

In [51]:
print({zip(capital,state)})

{<zip object at 0x0000027D32C37A48>}

In [49]:
print(dict(zip(state,capital)))

{'Gujrat': 'Gandhinagar', 'Maharashtra': 'Mumbai', 'Rajasthan': 'Jaipur'}

In [52]:
print(list(zip(state,capital)))

[('Gujrat', 'Gandhinagar'), ('Maharashtra', 'Mumbai'), ('Rajasthan', 'Jaipur')]

In [ ]:
#set comprehension:
#syn:
{var for var in iterable}

In [53]:
print({i for i in [1,2,3,1,1,2,2,13,14,15,16]})

{1, 2, 3, 13, 14, 15, 16}

In [54]:
print({i for i in [1,2,3,1,1,2,2,13,14,15,16] if i%2==0})

{16, 2, 14}

In [55]:
n=[1,2,3,1,1,2,2,13,14,15,16]
print({(i,n.count(i)) for i in n})

{(13, 1), (1, 3), (3, 1), (15, 1), (16, 1), (14, 1), (2, 3)}

In [ ]:
#file handling

In [ ]:
# syn:
open(filename,mode)
# file handling have 3 modes:
1) read "r"
2) write "w"
3) append "a"